<!DOCTYPE html>
<html>
  <head>
    <title>AppManager</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <% if @current_user %>
    <p class="Salutation">Welcome <%= @current_user.first_name %> </p>
  <% end %>
    <%= yield %>
  </body>
</html>
