<!DOCTYPE html>
<html>
  <head>
    <title>AppManager</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <div class="Salutation">
    <% if @current_user %>
      <p>Welcome <%= @current_user.first_name %></p>
      <%= button_to " Sign Out!", destroy_session_path, method: "delete" %>
  <% end %>
  </div>
    <%= yield %>
  </body>
</html>
